<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashing Server</title>
    <link rel="stylesheet" href="/static/main/static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Hashing Server</h1>
            <p class="subtitle">Server for hashing something</p>
        </header>
        
        <div class="links-container" id="linksContainer">
            <a href="/v0/pages/hashing_file" class="link-card">
                <div class="link-title">AES File Encryption</div>
                <div class="link-description">Encrypt or decrypt files with AES key</div>
            </a>

            <a href="/v0/pages/hashing_text_base64" class="link-card">
                <div class="link-title">AES Text Encryption</div>
                <div class="link-description">Encrypt text and get Base64 payload</div>
            </a>
        </div>

    </div>
</body>
</html>
