<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashing Server</title>
    <link rel="stylesheet" href="/templates/main/static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Hashing Server</h1>
            <p class="subtitle">Server for hashing something</p>
        </header>
        
        <div class="links-container" id="linksContainer">
            <a href="/hashing_file" class="link-card">
                <div class="link-title">Hashing File</div>
                <div class="link-description">Hashing file use password</div>
            </a>

            <a href="/hashing_text_base64" class="link-card">
                <div class="link-title">Base64 Hashing</div>
                <div class="link-description">Hashing text in format base64</div>
            </a>
        </div>

    </div>
</body>
</html>